name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu
          - target: x86_64-pc-windows-msvc
            os: windows
    steps:
    - uses: actions/checkout@v6
    - name: Install latest beta
      uses: dtolnay/rust-toolchain@beta
      with:
          target: ${{ matrix.target }}
    - name: Build
      run: cargo build --target ${{ matrix.target }} --all-features
      shell: pwsh
      
  hack:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@nightly
      - name: cargo install cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - name: cargo hack
        run: cargo hack --feature-powerset check
        
  documentation:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
    - uses: actions/checkout@v6
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@nightly
    - name: Generate documentation
      run: cargo doc --all-features
    - name: Install cargo-deadlinks
      run: cargo install cargo-deadlinks
    - name: Check dead links in doc
      run: cargo deadlinks

  clippy:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
      - uses: actions/checkout@v6
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
            
      - name: Clippy check
        run: cargo clippy --all-features
          
  fmt:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
    - uses: actions/checkout@v6
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@nightly
      with:
          components: rustfmt
          
    - name: Format check
      run: cargo fmt --all -- --check
